<app-slideshow-title></app-slideshow-title>

<p>
  La conception réactive d'interfaces utilisateur est une approche de conception qui vise à offrir à l'utilisateur une
  expérience optimale en fournissant des interfaces qui s'adaptent automatiquement à la taille de l'écran et au support
  utilisé.
</p>
<div class="mx-auto container flex items-center align-center justify-center">
  <img
    alt="Representation of the responsive design as an iceberg with media queries and flexible grids on top."
    src="assets/slides/tailwindcss/images/Adaptive.jpg"
  />
</div>

<div class="container mx-auto bg-gray-100 rounded-xl flex flex-col space-y-4">
  <div class="flex flex-wrap p-4 space-y-4">
    <div class="w-full bg-white border rounded-lg shadow-inner lg:rounded-xl">
      <p class="py-4 text-lg font-medium lg:text-3xl">Exemple 1</p>
    </div>

    <div class="flex flex-wrap w-full space-y-4 lg:space-y-0 lg:space-x-4">
      <div class="w-full bg-white border rounded-lg shadow-inner lg:flex-none lg:w-1/3 lg:rounded-xl">
        <p class="py-4 text-lg font-medium lg:text-3xl">Exemple 2</p>
      </div>
      <div class="w-full bg-white border rounded-lg shadow-inner lg:flex-1 lg:w-2/3 lg:rounded-xl">
        <p class="py-4 text-lg font-medium lg:text-3xl">Exemple 3</p>
      </div>
    </div>
  </div>
</div>
