<app-slideshow-title></app-slideshow-title>

<p>
  L'installation peut être effectuée en utilisant <code>npm</code>, le gestionnaire de paquets <code>Node.js</code>.
</p>
<ul class="pl-0 list-decimal list-inside">
  <li>
    Installer Tailwind CSS à la racine du projet :
    <app-prism [code]="step_1" language="markup"></app-prism>
  </li>
  <li>
    Créer le fichier de configuration <code>tailwind.config.js</code> :
    <app-prism [code]="step_2" language="markup"></app-prism>
  </li>
</ul>
