<app-slideshow-title></app-slideshow-title>

<p>
  Un framework CSS est une collection de styles CSS pré-définis qui permet de faciliter la création d'interfaces
  utilisateur modernes.
</p>
<p>
  Les frameworks CSS sont généralement utilisés avec du code HTML et JavaScript pour créer des interfaces utilisateur
  cohérentes et réactives.
</p>
<div class="grid grid-cols-1 lg:grid-cols-2 lg:divide-x">
  <div class="flex flex-col pr-4">
    <h2>Component-based CSS frameworks</h2>
    <p>
      Ils fournissent des composants prêts à l'emploi tels que des boutons, des cartes et des menus, ... Ils peuvent
      également fournir des classes utilitaires pour personnaliser leur style.
    </p>
    <div class="flex flex-row items-center justify-center">
      <a href="https://getbootstrap.com/docs/5.3/examples/cheatsheet/" target="_blank">
        <img
          alt="Bootstrap Site"
          class="w-[256px] h-[256px]"
          src="assets/slides/tailwindcss/images/bootstrap-logo-shadow.png"
        />
      </a>
      <a href="https://get.foundation/sites/docs/kitchen-sink.html" target="_blank">
        <img alt="Foundation Site" class="w-[256px] h-[256px]" src="assets/slides/tailwindcss/images/foundation.svg" />
      </a>
      <a href="https://bulma.io/documentation/components/" target="_blank">
        <img alt="Bulma Site" class="w-[256px] h-[256px]" src="assets/slides/tailwindcss/images/bulma.svg" />
      </a>
    </div>
  </div>
  <div class="flex flex-col pl-4">
    <h2>Utility-First CSS frameworks</h2>
    <p>Ils fournissent principalement un ensemble complet de classes utilitaires.</p>
    <div class="flex flex-row items-center justify-center">
      <a href="https://tailwindcss.com" target="_blank">
        <img alt="Tailwind CSS Site" class="w-[256px] h-[256px]" src="assets/slides/tailwindcss/images/tailwind.svg" />
      </a>
    </div>
  </div>
</div>
<p>
  Une classe utilitaire est une classe qui définit un style spécifique et généralement basique. Elle peut être appliquée
  seule ou en combinaison avec d'autres classes pour personnaliser le style des éléments HTML.
</p>
