<app-slideshow-title></app-slideshow-title>
<h2>Avantages</h2>
<ul class="pl-0 list-disc list-inside">
  <li>Gain de temps et productivité accrue grâce à l'utilisation de classes utilitaires</li>
  <li>Maximisation de la compatibilité entre les différents navigateurs</li>
  <li>Flexibilité illimitée dans la personnalisation des styles</li>
  <li>Pas de thème par défaut</li>
  <li>Personnalisation possible via <code>tailwind.config.js</code></li>
  <li>Intégration aisée avec d'autres outils de développement</li>
</ul>
<h2>Inconvénients</h2>
<ul class="pl-0 list-disc list-inside">
  <li>Tailwind CSS nécessite un certain temps pour être compris et maîtrisé</li>
  <li>Dépendance à Tailwind CSS</li>
</ul>
