<div class="flex flex-row justify-around w-full">
  <img alt="Tailwind Logo" class="w-36 lg:w-72 h-36 lg:h-72" src="assets/slides/tailwindcss/images/tailwind.svg" />
  <img
    alt="Angular Material Logo"
    class="w-36 lg:w-72 h-36 lg:h-72"
    src="assets/slides/tailwindcss/images/angularmaterial.svg"
  />
</div>
<header>
  <h1 class="leading-relaxed text-center">
    Comment intégrer
    <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-cyan-500">Tailwind CSS</span><br />
    au sein d'un projet
    <span class="text-transparent bg-clip-text bg-gradient-to-r from-[#ffa726] to-[#fb8c00]">Angular Material</span
    ><br />
    pour améliorer l'expérience utilisateur ?
  </h1>
</header>
