<app-slideshow-title></app-slideshow-title>
<ul>
  <li>Facilité de création et de lecture des tests</li>
  <li>Live reload pour une mise à jour en temps réel</li>
  <li>Inspection native du navigateur pour un débeugage plus facile</li>
  <li>Outil de capture d'écran intégré (screenshots et vidéos) pour faciliter le débeugage</li>
  <li>Gestion de l'asynchronicité pour écrire des tests efficaces et fiables</li>
  <li>Interception des requêtes et des réponses HTTP</li>
  <li>Possibilité d'exécuter les tests directement dans le navigateur via interface Cypress</li>
  <li>Intégration facile avec les outils de CI/CD</li>
</ul>
