<app-slideshow-title></app-slideshow-title>

<p>
  Tailwind CSS est un framework CSS utilitaire personnalisable qui fournit des classes utilitaires organisées par
  catégories et nommées de manière significative.
</p>
<p>
  Le but de Tailwind CSS est de faciliter la conception d'interfaces utilisateur modernes sans avoir à écrire de CSS
  personnalisé et sans quitter le code HTML.
</p>
<p>
  Tailwind CSS s'intègre parfaitement avec de nombreux autres outils de développement tels que Angular, React, Laravel,
  ...
</p>
<div class="flex flex-col items-center py-6 lg:py-12">
  <div class="text-xl font-extrabold lg:text-9xl hover:animate-bounce">
    <span class="text-transparent bg-clip-text bg-gradient-to-b from-blue-500 to-blue-900">Let's dive in!</span>
  </div>
  <app-prism [code]="example" language="markup"></app-prism>
</div>
